@import url(select2/dist/css/select2.css);
@import url(../../public/vendor/fontawesome-free/all.min.css);
@import url(../../public/vendor/animate/animate.min.css);
@import url(../../public/vendor/magnific-popup/magnific-popup.min.css);
@import url(../../public/vendor/owl-carousel/owl.carousel.min.css);
@import url(select2.css);

.loaded .page-wrapper {
    opacity: 1;
}
.cart-added-alert.show {
    display: block !important;
}
.product-single .product-variations > a:not(.size-guide) {
    height: 3rem !important;
    min-width: 3rem !important;
    width: auto !important;
}
.opacity-65 {
    opacity: 0.65;
}
.product-label.label-hot {
    background: #b10001;
}
.shipping-address .select-box {
    margin-bottom: 1.5rem;
}
.order-table .shipping-row-last {
    border-top: 1px solid #e1e1e1;
}
.pointer {
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed !important;
}
.none-events {
    pointer-events: none;
}
.break-word {
    word-break: break-all !important;
    hyphens: auto;
}
.two-line-truncate {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.bg-transparent {
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .product .product-action,
    .product .product-action-vertical {
        visibility: visible;
        opacity: 1;
    }
    .product .product-action .btn-cart {
        color: #fff;
        background-color: #444;
        border-color: #444;
    }
    .product.product-with-qty .btn-cart {
        background-color: transparent;
        color: #222;
    }
}
