.select2-container .select2-selection--single {
    background-color: #fff;
    font-size: 1.4rem;
    border: 1px solid #e1e1e1;
    min-height: 4.1rem;
    border-radius: unset;
    padding: 1rem 1.4rem 0.8rem;
}
.select2-container .select2-selection--single:focus {
    outline: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    padding: 0;
    color: #666;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    display: none;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    width: 34px;
    right: 3px;
}
.select2-container .select2-selection--single .select2-selection__arrow b {
    border-color: #adb5bd transparent transparent transparent;
    border-width: 6px 6px 0 6px;
}
.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: transparent transparent #adb5bd transparent !important;
    border-width: 0 6px 6px 6px !important;
}

.select2-container--default .select2-search--dropdown {
    padding: 10px;
    background-color: #fff;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    background-color: #fff;
    color: #74788d;
    outline: none;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    background-color: #26c;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #f8f9fa;
    color: #343a40;
}
.select2-container--default
    .select2-results__option[aria-selected="true"]:hover {
    background-color: #26c;
    color: #fff;
}

.select2-results__option {
    padding: 6px 12px;
}

.select2-container[dir="rtl"]
    .select2-selection--single
    .select2-selection__rendered {
    padding-left: 0.75rem;
}

.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

.select2-search input {
    border: 1px solid #f6f6f6;
}

.select2-container .select2-selection--multiple {
    background-color: #fff;
    font-size: 1.4rem;
    border: 1px solid #e1e1e1;
    min-height: 4.1rem;
    border-radius: unset;
    padding: 1rem 1.4rem 0.8rem;
    line-height: 0;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 1.5;
    padding: 0;
    color: #666;
}
.select2-container .select2-selection--multiple .select2-search__field {
    border: 0;
    color: #999;
    margin: 0;
}
.select2-container
    .select2-selection--multiple
    .select2-search__field::-webkit-input-placeholder {
    color: #999;
}
.select2-container
    .select2-selection--multiple
    .select2-search__field::-moz-placeholder {
    color: #999;
}
.select2-container
    .select2-selection--multiple
    .select2-search__field:-ms-input-placeholder {
    color: #999;
}
.select2-container
    .select2-selection--multiple
    .select2-search__field::-ms-input-placeholder {
    color: #999;
}
.select2-container
    .select2-selection--multiple
    .select2-search__field::placeholder {
    color: #999;
}
.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #eff2f7;
    border: 1px solid #f6f6f6;
    border-radius: 1px;
    padding: 0 7px;
}

.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border-color: #ced4da;
}

.select2-container--default .select2-results__group {
    font-weight: 600;
}

.select2-result-repository__avatar {
    float: left;
    width: 60px;
    margin-right: 10px;
}
.select2-result-repository__avatar img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.select2-result-repository__statistics {
    margin-top: 7px;
}

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
    display: inline-block;
    font-size: 11px;
    margin-right: 1em;
    color: #adb5bd;
}
.select2-result-repository__forks .fa,
.select2-result-repository__stargazers .fa,
.select2-result-repository__watchers .fa {
    margin-right: 4px;
}
.select2-result-repository__forks .fa.fa-flash::before,
.select2-result-repository__stargazers .fa.fa-flash::before,
.select2-result-repository__watchers .fa.fa-flash::before {
    content: "\f0e7";
    font-family: "Font Awesome 5 Free";
}

.select2-results__option--highlighted .select2-result-repository__forks,
.select2-results__option--highlighted .select2-result-repository__stargazers,
.select2-results__option--highlighted .select2-result-repository__watchers {
    color: rgba(255, 255, 255, 0.8);
}

.select2-result-repository__meta {
    overflow: hidden;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    bottom: 0;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__display {
    padding-left: 15px;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    margin-top: 0;
}
.select2-container.select2-container--default.select2-container--open {
    z-index: 9999;
}

